.grid-row > div {
  min-height: 1px;
  text-align: center;
  background-color: #b3c8e2;
  border: 1px solid #5785bf;
  border-radius: 5px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 4px 0; }

.grid-row::after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  width: 80%;
  margin: 0 auto; }

.grid-row > .grid-col-1 {
  width: 8.33333%; }

.grid-row > .grid-col-2 {
  width: 16.66667%; }

.grid-row > .grid-col-3 {
  width: 25%; }

.grid-row > .grid-col-4 {
  width: 33.33333%; }

.grid-row > .grid-col-5 {
  width: 41.66667%; }

.grid-row > .grid-col-6 {
  width: 50%; }

.grid-row > .grid-col-7 {
  width: 58.33333%; }

.grid-row > .grid-col-8 {
  width: 66.66667%; }

.grid-row > .grid-col-9 {
  width: 75%; }

.grid-row > .grid-col-10 {
  width: 83.33333%; }

.grid-row > .grid-col-11 {
  width: 91.66667%; }

.grid-row > .grid-col-12 {
  width: 100%; }

@media screen and (min-width: 320px) {
  .grid-row > .grid-col-1-xs {
    width: 8.33333%; }

  .grid-row > .grid-col-2-xs {
    width: 16.66667%; }

  .grid-row > .grid-col-3-xs {
    width: 25%; }

  .grid-row > .grid-col-4-xs {
    width: 33.33333%; }

  .grid-row > .grid-col-5-xs {
    width: 41.66667%; }

  .grid-row > .grid-col-6-xs {
    width: 50%; }

  .grid-row > .grid-col-7-xs {
    width: 58.33333%; }

  .grid-row > .grid-col-8-xs {
    width: 66.66667%; }

  .grid-row > .grid-col-9-xs {
    width: 75%; }

  .grid-row > .grid-col-10-xs {
    width: 83.33333%; }

  .grid-row > .grid-col-11-xs {
    width: 91.66667%; }

  .grid-row > .grid-col-12-xs {
    width: 100%; } }
@media screen and (min-width: 480px) {
  .grid-row > .grid-col-1-sm {
    width: 8.33333%; }

  .grid-row > .grid-col-2-sm {
    width: 16.66667%; }

  .grid-row > .grid-col-3-sm {
    width: 25%; }

  .grid-row > .grid-col-4-sm {
    width: 33.33333%; }

  .grid-row > .grid-col-5-sm {
    width: 41.66667%; }

  .grid-row > .grid-col-6-sm {
    width: 50%; }

  .grid-row > .grid-col-7-sm {
    width: 58.33333%; }

  .grid-row > .grid-col-8-sm {
    width: 66.66667%; }

  .grid-row > .grid-col-9-sm {
    width: 75%; }

  .grid-row > .grid-col-10-sm {
    width: 83.33333%; }

  .grid-row > .grid-col-11-sm {
    width: 91.66667%; }

  .grid-row > .grid-col-12-sm {
    width: 100%; } }
@media screen and (min-width: 720px) {
  .grid-row > .grid-col-1-md {
    width: 8.33333%; }

  .grid-row > .grid-col-2-md {
    width: 16.66667%; }

  .grid-row > .grid-col-3-md {
    width: 25%; }

  .grid-row > .grid-col-4-md {
    width: 33.33333%; }

  .grid-row > .grid-col-5-md {
    width: 41.66667%; }

  .grid-row > .grid-col-6-md {
    width: 50%; }

  .grid-row > .grid-col-7-md {
    width: 58.33333%; }

  .grid-row > .grid-col-8-md {
    width: 66.66667%; }

  .grid-row > .grid-col-9-md {
    width: 75%; }

  .grid-row > .grid-col-10-md {
    width: 83.33333%; }

  .grid-row > .grid-col-11-md {
    width: 91.66667%; }

  .grid-row > .grid-col-12-md {
    width: 100%; } }
@media screen and (min-width: 1024px) {
  .grid-row > .grid-col-1-lg {
    width: 8.33333%; }

  .grid-row > .grid-col-2-lg {
    width: 16.66667%; }

  .grid-row > .grid-col-3-lg {
    width: 25%; }

  .grid-row > .grid-col-4-lg {
    width: 33.33333%; }

  .grid-row > .grid-col-5-lg {
    width: 41.66667%; }

  .grid-row > .grid-col-6-lg {
    width: 50%; }

  .grid-row > .grid-col-7-lg {
    width: 58.33333%; }

  .grid-row > .grid-col-8-lg {
    width: 66.66667%; }

  .grid-row > .grid-col-9-lg {
    width: 75%; }

  .grid-row > .grid-col-10-lg {
    width: 83.33333%; }

  .grid-row > .grid-col-11-lg {
    width: 91.66667%; }

  .grid-row > .grid-col-12-lg {
    width: 100%; } }
@media screen and (min-width: 1280px) {
  .grid-row > .grid-col-1-xl {
    width: 8.33333%; }

  .grid-row > .grid-col-2-xl {
    width: 16.66667%; }

  .grid-row > .grid-col-3-xl {
    width: 25%; }

  .grid-row > .grid-col-4-xl {
    width: 33.33333%; }

  .grid-row > .grid-col-5-xl {
    width: 41.66667%; }

  .grid-row > .grid-col-6-xl {
    width: 50%; }

  .grid-row > .grid-col-7-xl {
    width: 58.33333%; }

  .grid-row > .grid-col-8-xl {
    width: 66.66667%; }

  .grid-row > .grid-col-9-xl {
    width: 75%; }

  .grid-row > .grid-col-10-xl {
    width: 83.33333%; }

  .grid-row > .grid-col-11-xl {
    width: 91.66667%; }

  .grid-row > .grid-col-12-xl {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */