$div-color: rgb(179, 200, 226);
$col-number: 12; // Number of grid columns
$res-breakpoints: (
  xs: 320,
  sm: 480,
  md: 720,
  lg: 1024,
  xl: 1280
); // media queries names and breakpoint values

%grid-base {
  min-height: 1px;
  text-align: center;
  background-color: $div-color;
  border: 1px solid darken($div-color, 25%);
  border-radius: 5px;
  float: left;
  box-sizing: border-box;
  margin: 4px 0;
}

%clearfix {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {

  width: 80%;
  margin: 0 auto;

}

.grid-row {
  & > div {
    @extend %grid-base;
  }

  &::after {
    @extend %clearfix;
  }
}

// Creates base grid styles
@for $i from 1 through $col-number {

  // calc width of a single column, then multiply by $i to create classes for all possible grid element widths
  $width: (100% / $col-number) * $i;

  .grid-row > .grid-col-#{$i} {
    width: $width;
  }
}

// For each breakpoint key-value pair, create media query, and create classes for all possible grid element widths for that media query
@each $key, $res in $res-breakpoints {

  @media screen and (min-width: $res + px) {

    @for $i from 1 through $col-number {

      $width: 100% / $col-number * $i;

      .grid-row > .grid-col-#{$i}-#{$key} {
        width: $width;
      }
    }
  }
}
